* {
    margin: 0;
    padding: 0;
}

body {
    font-family: ronde-b, 'DotGothic16',sans-serif;
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.main {
    background: red;
}